@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Katibeh&display=swap");

:root {
  --morado: hsl(262, 100%, 68%);
  --guinda: #910039;
  --verde: #008876;
  --verde-oscuro: #006153;
  --verde-claro: #00b19a;
  --verde-fosfo: #00b19a;
  --negro: #191a1b;
  --titulo: "Katibeh", serif;
  --contenido: "Istok Web", sans-serif;

  --primary-color: #00b19a; /* Color principal verde */
  --primary-hover: #008c7a; /* Color hover del botón */
  --secondary-color: #f8f9fa; /* Color de fondo secundario */
  --text-color: #333; /* Color de texto principal */
  --error-color: #dc3545; /* Color para errores */
  --success-color: #28a745; /* Color para éxito */
  --border-color: #ced4da; /* Color de bordes */
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra de tarjetas */
  --fondo: #D8F4EE;
}

body {
  font-family: "ItsOk", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titulo);
  font-weight: normal;
  margin-top: 0;
}

p{
    font-family: var(--contenido);
}

h1#titulo-contacto {
  font-family: var(--titulo);
  color: var(--secondary-color);
  font-size: 4rem;
  text-align: center;
  line-height: 0.7;
  margin-bottom: 0.5em;
}

#h2-contac{
  font-family: var(--contenido);  
  font-weight: bold;
  font-size: 2rem;

}

#h5-conocenos{
  font-family: var(--contenido);  
  font-weight: bold;
    font-size: 1.3rem;
}

.subtitulo{
    color: var(--secondary-color);
    margin: 0 0 0 0 ;
    padding: 0 0 0 0;
}

.fondo-color{
    background: url(../assets/fondoContacto/Section-1.jpg);
    background-size: cover;
}

#fondo-conocenos{
    background-color: var(--fondo);
}

.color-boton {
  font-family: var(--contenido);
  background-color: var(--primary-color); /* Color de fondo */
  color: white; /* Color del texto */
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 1rem;
  transition: background-color 0.3s ease; /* Transición suave */
}

.color-boton:hover {
  background-color: var(--primary-hover); /* Color al pasar el mouse */
  box-shadow: var(--box-shadow); /* Sombra al pasar el mouse */
  color: var(--secondary-color);
}

.color-boton:focus{
    background-color: var(--primary-color);
    transform: translateY(1px); /* Efecto de "presionado" */
}

.label-info{
    font-family: var(--contenido);
}

.form-control:focus {
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 177, 154, 0.25);
}

.mi-titulo {
  font-family: var(--contenido);
  font-size: 24px;
}

.mi-boton {
  color: white !important;
  font-family: var(--contenido);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}
